.kayak > .resume{
    position: relative;
    border:solid 1px black; margin:5px; padding:5px;
    background-color:aquamarine;
    width: 50%;
    height: 15%;
    bottom: 20%;
    left: 22%;
}
  div {
  }
  .liste-kayak{
    display: flex;
    align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  }
  .kayak{

  }

  .resume {
  }
  .renseignement{
    border:solid 1px black; margin:5px; padding:5px;
  }

  .barre-recherche{
    display: flex;
    margin-left:40%;
  }

  .barre-recherche > button {
    height: 39;
  }